<div class="section-divider">
    <div>ARTISTAS</div>
</div>


<div class="card" ng-repeat="profile in ctrl.profiles">
    <div class="img-wrapper">
        <a ng-href="#!/perfis/?{{profile.id}}" ng-title="{{profile.nome}}">
            <div class="card-image" style="background-image: url(assets/profiles/{{profile.id}}/CAPA.png)">
            </div>
        </a>
    </div>
    <div class="card-info">
        <div class="info-wrapper">
            <a class="card-title" ng-href="#!/perfis/?{{profile.id}}" ng-title="{{profile.nome}}">
                                    {{profile.nome}}
                                </a>
        </div>
    </div>
</div>
<a href="#!/perfis" class="cursor-default">
    <div ng-class="{active: ctrl.isActive()}" class="overlay"></div>
</a>

<!-- AQUI COMEÇA A TELA DO PERFIL -->

<div ng-class="(ctrl.isActive()?'active ':'')+'slider artist-page'">
    <header class="header header-artist">
        <section class="container">
            <div class="img-wrapper">
                <div class="avatar" style="background-image: url(assets/profiles/{{selectedProfile.id}}/AVATAR.png)"></div>
                <i class="verified material-icons">verified_user</i>
            </div>
            <div class="artist-info">
                <h1 class="artist-title">{{selectedProfile.nome}}</h1>
                <div class="artist-controllers">
                    <a class="button button-primary button-play">
                        <i class="material-icons">play_arrow</i> <span>PLAY</span>
                    </a>
                    <a class="button">SEGUIR</a>
                </div>
            </div>
        </section>
    </header>
    <div class="section-divider"></div>
    <div class="container">
        <div class="album-cover">
            <div class="card-image" style="background-image: url(assets/profiles/{{selectedProfile.id}}/CAPA.png)"></div>
        </div>


        <div class="album-details">
            <div class="section-divider no-padding pre-album-title">
                <h2>ÁLBUM</h2>
            </div>
            <span class="h-label">2016</span>
            <div class="section-divider section-divider-borderless   album-title">
                <h1 class="tunigo-label album_title">{{selectedProfile.nome_album}}</h1>
            </div>
            <table class="tracklist-album">
                <thead class="tl-header">
                    <tr>
                        <th class="tl-number">#</th>
                        <!--<th class="tl-save"></th>-->
                        <th class="tl-name-with-featured
">Faixa </th>
                        <th class="tl-explicit"></th>
                    </tr>
                </thead>
                <tbody class="tl-body tb-tracks">
                    <tr ng-repeat="track in ctrl.tracks" tabindex="track.index" class="tl-row" data-contextmenu="">
                        <td class="tl-cell tl-number">
                        
                            <a ng-if="!track.exception" ng-href="assets/profiles/{{selectedProfile.id}}/{{track.url}}.pdf" target="_blank">
                                <span class="tl-number-wrap">{{track.index + 1}}</span>
                            </a>
                        </td>
                        <td class="tl-cell tl-name-with-featured" colspan="2">
                            <a ng-href="assets/profiles/{{selectedProfile.id}}/PROJETO_DE_PESQUISA.pdf" target="_blank">
                                <div class="tl-highlight">
                                    {{track.title}}<span class="tl-featuring"></span></div>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
