<div id="topLists" class="col-sm-4 col-md-4 col-lg-4" style="opacity: 1;">
	<a class="puff" data-log-click="puff" style="cursor: default">
		<div class="overflowBlur mediaImages">
			<div class="blur">
				<div class="background" style="background-image: url({{covers[1]}})"></div>
			</div>
			<div id="topLists-mediaImage-2" class="mediaImage-2">
				<div class="media-object link media-object-">
					<div class="mo-wrapper">
						<div class="mo-image-wrapper" style="background-color: #222326">
							<div class="mo-image" style="background-image: url({{covers[0]}})"> <span class="mo-verified">
        <span class="spoticon-check-16"></span> </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="topLists-mediaImage-3" class="mediaImage-3">
				<div class="media-object link media-object-">
					<div class="mo-wrapper">
						<div class="mo-image-wrapper" style="background-color: #222326">
							<div class="mo-image" style="background-image: url({{covers[1]}})"> <span class="mo-verified">
        <span class="spoticon-check-16"></span> </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="topLists-mediaImage-1" class="mediaImage-1">
				<div class="media-object link media-object-">
					<div class="mo-wrapper">
						<div class="mo-image-wrapper" style="background-color: #222326">
							<div class="mo-image" style="background-image: url({{covers[2]}})"> <span class="mo-verified">
        <span class="spoticon-check-16"></span> </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="info">
				<div class="ctx">
					<div class="title">
						<div class="center"> <span>Paradas</span> </div>
					</div>
					<div class="names">
						<div>As 50 mais tocadas no mundo, As 50 mais tocadas no Brasil, As 50 virais do Brasil</div>
					</div>
				</div>
			</div>
		</div>
	</a>
</div>