    @font-face {
        font-family: 'Proxima Nova Alt Light';
        font-style: normal;
        font-weight: normal;
        src: local('Proxima Nova Alt Light'), url('assets/fonts/Mark Simonson - Proxima Nova Alt Light.woff') format('woff');
    }
    
    @font-face {
        font-family: 'Proxima Nova Alt Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Proxima Nova Alt Bold'), url('assets/fonts/Mark Simonson - Proxima Nova Alt Bold.woff') format('woff');
    }
    
    @bodyBackground: #121314;
    @background: #1c1c1f;
    @cardBackground: #222326;
    @cinza: #88898c;
    @cinzaClaro: #dfe0e6;
    @hoverColor: #fbfbfc;
    @verdeLimao: #84bd00;
    body {
        background-color: @bodyBackground;
        font-family: 'Proxima Nova', Arial, sans-serif;
        cursor: default;
        font-size: 14px;
        line-height: 19px;
        color: @cinza;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    a {
        color: @cinzaClaro;
        text-decoration: none;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        &:hover:not(.button),
        &:focus:not(.button) {
            color: @hoverColor;
            text-decoration: none;
            border-bottom-color: currentcolor;
        }
    }
    
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 9.5px;
    }
    
    iframe {
        width: 100%;
        height: 100%;
        border: 0;
        background-color: @bodyBackground;
    }
    
    .main-menu {
        min-height: 595px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 90px;
        z-index: 1000;
        background-color: @background;
        a {
            border: none;
            color: @cinza; //cinza não selecionado
            text-decoration: none;
            position: relative;
            font-weight: 400;
            padding: 50px 10px 0 10px;
            height: 75px;
            width: 90px;
            display: block;
            &.logo {
                margin: 0;
                height: 34px;
                background: url('/assets/logo-navbar.png') no-repeat center;
                background-size: 83%;
                display: block;
                cursor: auto;
            }
            &.active {
                color: @cinzaClaro; //cinza selecionado
                &::after {
                    margin-top: -22px;
                    height: 38px;
                    content: ' ';
                    display: block;
                    position: absolute;
                    left: 0;
                    background-color: @verdeLimao; //verde
                    top: 50%;
                    margin-top: -22px;
                    height: 43px; //por algum motivo tem os dois (?)
                    //FIXME
                    width: 3px;
                }
            }
            &:hover {
                color: @hoverColor;
                //border-bottom: transparent;
            }
        }
        .main-menu-nav {
            list-style: none;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            -webkit-margin-start: 0;
            -webkit-margin-end: 0;
            -webkit-padding-start: 0;
            padding-left: 0;
            li {
                position: relative;
            }
            a.standart-menu-item {
                height: 63px;
                //padding: 36px 10px 0 10px;
                padding: 48px 10px 28px 10px;
                .nav-text {
                    text-align: center;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                i {
                    position: absolute;
                    //top: 5px; //12
                    top: 10px;
                    left: 0;
                    text-align: center;
                    width: 100%;
                    //font-size: 30px; //24
                    font-size: 36px; //24
                }
            }
        }
    }
    
    #wrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        min-height: 595px;
        min-width: 1080px;
        overflow: hidden;
    }
    
    #main {
        background: #121314;
        position: absolute;
        left: 90px;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
        -ms-transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    
    body .container {
        min-width: 610px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1330px;
        &:before {
            content: " ";
            display: table;
        }
    }
    
    #hpto {
        //font-family: "proxima_nova";
        position: relative;
        max-height: 280px;
        overflow: hidden;
        #htpo-container {
            background-image: url("/assets/banner.jpg");
            height: 270px;
            background-position: center top;
            background-repeat: no-repeat;
            overflow: hidden;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: height 500ms ease;
        }
    }
    
    .hpto-button {
        position: absolute;
        right: 30px;
        top: 24px;
        color: #f6f8ff;
        background: #29292d;
        opacity: 0.4;
        cursor: pointer;
        transition: opacity .2s ease;
        padding: 7px 16px 5px 16px;
        font-size: 9px;
        text-transform: uppercase;
        line-height: 9px;
        letter-spacing: 2px;
        z-index: 3;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }
    
    .section-divider {
        border-bottom: 1px solid #222326;
        margin: 0 0 16px;
        padding: 20px 0 4px;
        position: relative;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        > * {
            text-transform: uppercase;
            letter-spacing: 1.1px;
            font-size: 14px;
            color: #88898c;
            line-height: 24px;
            margin: 0;
            font-weight: 400;
            //          &:first-child {
            //            float: left;
            //        }
        }
    }
    
    .tunigo-label {
        //        color: #FFF;
        color: #CCC;
        letter-spacing: 0;
        font-size: 18px;
        font-weight: 100;
        font-style: inherit;
        text-transform: none;
        min-height: 24px;
        font-family: Proxima Nova Alt Light;
    }
    
    .media.genre .genreImage {
        padding-bottom: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .card {
        overflow: hidden;
        font-size: 14px;
        float: none;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        margin-bottom: 15px;
        position: relative;
        width: 16.66666667%;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 1px;
    }
    
    .img-wrapper {
        height: 100%;
        overflow: hidden;
        padding-bottom: 100%;
        position: relative;
    }
    
    .card-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        position: absolute;
        width: 100%;
    }
    
    .card-info {
        background-color: @cardBackground;
        padding: 10px 8px 10px;
        //height: 63px;
        .info-wrapper {
            height: 100%;
            position: relative;
            .card-title {
                //border-bottom: none;
                line-height: 19px;
                max-height: 38px;
                overflow: hidden;
                position: relative;
                white-space: normal;
                .card-title-border {
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }